@model WebApplication1.Models.AboutViewModel
@{
    ViewBag.Title = "About";
}

<section>
    <div class="section-wrapper bg-fixed" data-image="images/bg-image_07.jpg">
        <div class="overlay" data-color="rgba(255,255,255,0.9)"></div>
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="about-us">
                        <div class="title">
                            <h2>about bemax</h2>
                            <p>We’re help your vulputate bibendum justo sed, tincidunt quisque dictum eget dolor vel maximus.</p>
                        </div>
                        <div class="video" id="video-about">
                            <div class="video-image-thumbnail">
                                <img src="~/Public/images/video_04.jpg" alt="video">
                            </div>
                            <div class="video-play">
                                <a href="https://www.youtube.com/embed/keDneypw3HY?autoplay=1">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="play-video">
                                <iframe name="showvideo" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<section>
    <div class="section-wrapper p-t-85 p-b-45">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Writings)
                {
                    <div class="col-md-4">
                        <div class="choose-reason">
                            <h6>@item.UpperCont</h6>
                            <p>
                                @item.BottomCont
                            </p>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>
<!-- Great Team -->
<section>
    <div class="section-wrapper bg-black-3 p-t-60 p-b-57">
        <div class="container">
            <div class="section-title section-title-style-1">
                <h3>The Great Team</h3>
                <div class="title-border m-b-35"></div>
            </div>
            <div class="row">
                @foreach (var item in Model.Workers)
                {
                    <div class="col-md-3">
                        <div class="great-team">
                            <div class="great-team-container">
                                <div class="team-image">
                                    <img src="~/Public/images/@item.Image" alt="User">
                                    <nav class="social-link">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="team-content">
                                    <a href="#" class="name">@item.Uppercont</a>
                                    <p class="job">@item.Bottomcont</p>
                                </div>
                            </div>
                        </div>

                    </div>
                }
               
            </div>
        </div>
    </div>
</section>
<!-- End Great Team -->
<!-- Testimonial-->
<section>
    <div class="section-wrapper p-t-60 p-b-100">
        <div class="container">
            <div class="section-title">
                <h3>testimonial</h3>
                <div class="title-border"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="owl-carousel owl-carousel-1" data-items="1" data-loop="true" data-dotsData="true">
                        <div class="testimonial testi-style-3" data-dot='<img src="~/Public/images/user_01.png" alt="1">'>
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p class="text-black-1">
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name text-black-2">Michael Green</a>
                                        <p class="testi-author-job text-black-2">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-3" data-dot='<img src="~/Public/images/user_02.png" alt="1">'>
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p class="text-black-1">
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name text-black-2">John Walker</a>
                                        <p class="testi-author-job text-black-2">Photographer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-3" data-dot='<img src="~/Public/images/user_03.png" alt="1">'>
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p class="text-black-1">
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name text-black-2">Michael Green</a>
                                        <p class="testi-author-job text-black-2">Product Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-3" data-dot='<img src="~/Public/images/user_04.png" alt="1">'>
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p class="text-black-1">
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name text-black-2">Michael Rakane</a>
                                        <p class="testi-author-job text-black-2">Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial testi-style-3" data-dot='<img src="~/Public/images/user_05.png" alt="1">'>
                            <div class="testi-container">
                                <div class="testi-content">
                                    <p class="text-black-1">
                                        <span></span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam bibendum bibendum odio non volutpat. Vivamus convallis neque in metus tincidunt, quis pellentesque risus
                                        placerat.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="testi-author-content">
                                        <a href="#" class="testi-author-name text-black-2">Piter Xamge</a>
                                        <p class="testi-author-job text-black-2">Sale Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial -->
<!-- Partner -->
<section>
    <div class="section-wrapper bg-gray-3 py-84">
        <div class="container p-t-20">
            <div class="owl-carousel" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"6"}}'>
                <div class="partner">
                    <img src="~/Public/images/partner_01.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_02.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_01.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_03.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_04.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_01.png" alt="Partner 01">
                </div>
                <div class="partner">
                    <img src="~/Public/images/partner_01.png" alt="Partner 01">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner -->
<!-- Newsletter -->
<section>
    <div class="section-wrapper bg-fixed p-t-58 p-b-80" data-image="images/mac-book.jpg">
        <div class="overlay" data-color="rgba(41,182,246,.9)"></div>
        <div class="container">
            <div class="section-title section-title-style-1">
                <h3>Newsletters</h3>
                <div class="title-border m-b-22"></div>
            </div>
            <div class="newsletter newsletter-style-1">
                <div class="newsletter-container">
                    <div class="newsletter-content">
                        <p>And stay informed about our news and events</p>
                    </div>
                    <div class="newsletter-form py-30">
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email Address">
                            </div>
                            <div class="form-group">
                                <button>
                                    <i class="fa fa-paper-plane"></i>Subcribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Newslleter -->
